/Debug/
/out/
/packages/
/pilot/
/x64/
/CMakeSettings.json
/*.vcxproj*
/packages.config
/pilot.sln
/.vs/
/fog/
/i3d/
/actionformer_release/
/implementation_plan.md
/task.md
/walkthrough.md
/*.zip
/algos
/actionformer_release